.add_new_button{
    height: 35px;
    width: 120px;
    
}
.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.close_modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  background-color: #f8fafc;
  font-family: Roboto;
  font-weight: bold;
  border-width: 0px;
  border-radius: 3px;
  cursor: pointer;
}

.popup_bg_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nft_popup_bg_container{
    height: 90vh;
    width: 25vw;
    background-color: #161618;
    border-radius: 5px;
    padding: 32px 42px 36px 42px;
}
@media screen and (max-width:768px){
  .nft_popup_bg_container{
    width: 80vw;
    padding: 16px 22px 16px 22px;
  }
}
.main_heading{
    color: #ffffff;
}
.button_container{
    display: flex;
    justify-content: flex-end;
}
.cross_mark{
    color: #ffffff;
}
.nft_description{
    height: 100px;
}
.add_button{
    height: 30px;
    width: 100px;
    border-width: 0px;
    background-color: #FCD37B;
    color: #000000;
    border-radius: 3px;
}
.image_upload_container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
    margin-top: 0px;
}
.nft_card_image{
  transition: filter 0.3s ease-in-out;
}
.nft_card_image:hover {
  filter:blur(2px);
}